<div class="demo-card-square mdl-card mdl-shadow--2dp gamer-card">
    <div class="mdl-card__title name-container">
        <h6 class="mdl-card__title-text name">
            <a href="/gamer/<%= encodeURIComponent(gamer.username); %>">
                <%= gamer.username; %>
            </a>
            <small class="aliases">
                (aka <%= gamer.aliases.join(','); %>)
            </small>
        </h6>
    </div>

    <div class="demo-supporting-text mdl-card__supporting-text details-container">

        <table class="mdl-data-table mdl-js-data-table">
            <thead>
            <tr>
                <th>KDR</th>
                <th>Max Kills</th>
                <th>Gulag Win %</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="mdl-data-table__cell"><%= gamer.kdr; %> </td>
                <td class="mdl-data-table__cell"><%= gamer.max_kills; %> </td>
                <td class="mdl-data-table__cell"><%= gamer.gulag_win_rate; %> </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
