<div class="card gamer-card mdl-shadow--2dp" data-search="<%=[gamer.username, ...gamer.aliases].join(', ').toLowerCase();%>">
    <div class="card-header">
        <h2 class="name">
            <a href="/gamer/<%= gamer.platform %>/<%= encodeURIComponent(gamer.username); %>">
                <%= gamer.username; %>
                <img style="width: 25px; height: 25px;" src="/images/platform/<%= gamer.platform %>.png"/>
            </a>
            <small class="aliases">
                (<%= gamer.aliases.join(', '); %>)
            </small>
        </h2>
    </div>

    <div class="card-body demo-supporting-text mdl-card__supporting-text details-container">

        <table class="mdl-data-table mdl-js-data-table">
            <thead>
            <tr>
                <th>KDR</th>
                <th>Max Kills</th>
                <th>Gulag Win %</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><%= gamer.kdr; %> </td>
                <td><%= gamer.max_kills; %> </td>
                <td><%= gamer.gulag_win_rate; %> </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
