<tr>
    <td class="mdl-data-table__cell"><%= gamer.username %> </td>
    <td class="mdl-data-table__cell"><%= gamer.kdr.toFixed(2) %> </td>
    <td class="mdl-data-table__cell"><%= gamer.max_kills %> </td>
    <td class="mdl-data-table__cell"><%= gamer.gulag_win_rate.toFixed(2) * 100 + '%' %> </td>
    <td class="mdl-data-table__cell"><%= gamer.avg_damage_done %> </td>
</tr>