<title><%= seoMetadata.title %></title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="msapplication-tap-highlight" content="no"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>


<meta name="description"
      content="<%= seoMetadata.description %>">


<meta name="keywords"
      content="<%= seoMetadata.keywords %>">
<meta property="og:image" content="<%= seoMetadata.image || 'http://www.brshooter.com./images/ak-pic.jpeg' %>"/>

<meta name="og:description"
      content="<%= seoMetadata.description %>">

<meta name="og:title"
      content="<%= seoMetadata.title %>">

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<link rel="stylesheet" href="/css/core_styles.css"/>