<html>
<head>

    <%- include ('../partials/high_charts') %>
    <%- include ('../partials/head') %>

    <script>
        let ALL_GRADES = JSON.parse('<%- JSON.stringify(grades) %>')
        let TIME_OF_DAY = JSON.parse('<%- JSON.stringify(timeOfDay) %>')

        let DAY_OF_WEEK = JSON.parse('<%- JSON.stringify(dayOfWeek) %>')
    </script>
</head>

<body>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header app">
    <%- include ('../partials/header') %>

    <main class="mdl-layout__content">
        <div class="page-content">

            <%- include('../partials/gamer', {gamer: gamer, filterKeys: filterKeys}); %>
            <div class="mdl-tabs mdl-js-tabs">
                <div class="mdl-tabs__tab-bar">
                    <a href="#teammates-panel" class="mdl-tabs__tab is-active">Teammates</a>
                    <a href="#placements-panel" class="mdl-tabs__tab"
                       onclick="placementInputChange(ALL_GRADES, 'duo', 'placement-chart-container')">Placements</a>
                    <a href="#stats-panel"
                       onclick="statsInputChange(ALL_GRADES, 'kdr', 'stats-chart-container')"
                       class="mdl-tabs__tab">Stats</a>

                    <a href="#time-of-day-panel"
                       onclick="timeOfDayInputChange(TIME_OF_DAY, 'hour_of_play')"
                       class="mdl-tabs__tab">Time</a>
                </div>


                <div class="mdl-tabs__panel is-active" id="teammates-panel">
                    <div class="page-content-lg page-content">
                        <%- include('../partials/teammate_table', {gamer: gamer, filterKeys: filterKeys}); %>
                    </div>
                </div>

                <div class="mdl-tabs__panel" id="placements-panel">
                    <%- include('../partials/placement_charts', {gamer: gamer, grades: grades, filterKeys: filterKeys}); %>
                </div>

                <div class="mdl-tabs__panel  " id="stats-panel">
                    <%- include('../partials/stats_charts', {gamer: gamer, grades: grades, filterKeys: filterKeys}); %>
                </div>

                <div class="mdl-tabs__panel  " id="time-of-day-panel">
                    <%- include('../partials/time_of_day_charts', {gamer: gamer, timeOfDay: timeOfDay, grades: grades, filterKeys: filterKeys}); %>
                </div>
            </div>
        </div>
    </main>


</div>


</body>
<script>
    statsInputChange(ALL_GRADES, 'kdr', '% of Games')
</script>
</html>