<html>
<head>
    <%- include ('../partials/head') %>
</head>
<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header app">

        <%- include ('../partials/header') %>

        <main class="mdl-layout__content gamer-container">
            <div class="page-content">
                <% if (submittedUsername) { %>
                    <p style="color: green;">
                        <%= submittedUsername; %> was successfully added. Please wait a day and come back for data!
                    </p>
                <% } else { %>
                <% } %>

                <% if (submissionError) { %>
                    <p style="color: red;"> <%= submissionError; %></p>
                <% } else { %>
                <% } %>

                <%- include ('../partials/gamer_add', {captcha: captcha}) %>
                <div>
                    <h1>Gamers <small id="total-showing"></small></h1>

                    <div class="form-group" style="padding-bottom: 10px;">
                        <input placeholder="search"
                               type="text"
                               class="mdl-textfield__input form-control"
                               maxlength="100"
                               oninput="window.gamerSearchInputChange(this)"
                               id="gamer-search"
                               name="gamer-search">
                    </div>

                    <% gamers.map(function(gamer) { %>
                        <%- include('../partials/gamer', {gamer: gamer}); %>
                    <% }) %>

                </div>
            </div>
        </main>
    </div>

    <script>
		(function() {

			let CONFIG = {
				GAMER_SEARCH: ''
			};

			function run() {
                setGamerListVisibility();
			}



			function setGamerListVisibility() {
				let total = 0;
				let showing = 0;

				getGamerCardList().forEach((gamerCardElement) => {
					total = total + 1;

                    const searchValues = gamerCardElement.getAttribute('data-search');
                    const shouldBeShowing = (typeof CONFIG.GAMER_SEARCH === 'string' && CONFIG.GAMER_SEARCH.length > 0) ? searchValues.includes(CONFIG.GAMER_SEARCH) : true;
                    gamerCardElement.style.display = shouldBeShowing ? 'block' : 'none';

                    if (shouldBeShowing) {
                    	showing = showing + 1;
                    }
				});

				setTotalGamersShowing(showing, total);
			}


			function setTotalGamersShowing(showing, total) {
				const totalShowingElement = document.getElementById('total-showing');
				totalShowingElement.innerText = `(${showing} of ${total})`;
            }


			function getGamerCardList() {
				return [...document.querySelectorAll('.gamer-card')];
			}

			//====--==-=-=-=--====--==-=-=-=--====--==-=-=-=--//
			//PUBLIC METHODS

			function gamerSearchInputChange(gamerSearchInput) {
				if (gamerSearchInput) {
					let value = gamerSearchInput.value;
					value = value.trim().substr(0, 100).toLowerCase();

					CONFIG.GAMER_SEARCH = value;
				}

				setGamerListVisibility();
			}
			window.gamerSearchInputChange = gamerSearchInputChange;



			//====--==-=-=-=--====--==-=-=-=--====--==-=-=-=--//

			ready(run);


			function ready(fn) {
				if (document.readyState != 'loading') {
					fn();
				} else {
					document.addEventListener('DOMContentLoaded', fn);
				}
			}

		})();
    </script>

</body>
</html>